.description2 {
background-color: white;
}
.description2 {
border: solid 12px #000983
}
body {
background-color: grey;
}
h3 {color: red;}
span1 {color: gold}
span2 {color: green}
span3 {color: white}
.info img {
border: solid 12px #000983
}